<ion-view view-title="Bherpo">
    <ion-content>
       <div class="abt">
           <img src="img/about.png" class="full-image">
       </div>
        <div class="handshake padding">
            <ul>
                <li class="handshake1 handshake-circle "> <img src="img/1.png" class="full-image"></li>
                <li class="handshake2"> <img src="img/agreement2.png" class="full-image"></li>
                <li class="handshake3 handshake-circle "> <img src="img/2.png" class="full-image"></li>
            </ul>
        </div>
        <div class="text-center pad">
            <h4>About us</h4>
        </div>
        <div class="padding rule-head">
            <p>We are Kutchhi Visa Oswal Jain Community. First we were Deravasi  & Sthanakvasi. Nani Paksh &  Moti Paksh, Divided by various creeds &  partitions. Then an idea changed so strong it changed the concept from You &  Me to "WE" That Idea of getting people together under one roof as ONE is BHERPO , which literally means “Sharing Togetherness”. </p>
            <p>  A one of a kind initiative started together by Two prime bodies of Kutchhi Visa Oswal Jain Community. </p>
            <p>SHREE CUTCHI VISA OSWAL DERAVASI JAIN MAHAJAN Estd.  In 1830  &  SHREE KUTCHI VISA OSWAL STHANAKVASI JAIN MAHAJAN Estd. In 1873 Both The Mahajans are now hand in hand.</p>
             <div class="text-center pad">
            <h4>Insipiration</h4>
        </div>
           <p>Shri Mulund Kutchhi Visa Oswal Samaj On completion of its 35th year  organized Bherpo In 2013-14. Which was runaway hit  & caused the KVO community in Mulund to come closer like never before.</p>
           <p>A lot of people who did not know each other are now very good friends. Most important advantage of Bherpo is that it as  a match maker amongst the community for eligible bachelors.</p>
                <p>
Both Mahajans  SHREE  CUTCHI VISA OSWAL DERAVASI JAIN MAHAJAN   & SHREE KUTCHI VISA OSWAL STHANAKVASI JAIN MAHAJAN have decided to follow the noble idea of Shri Mulund KVO Samaj & Organise BHERPO acts on much grander & extravagant Level  in 2015-2016. 
</p>
                 <div class="text-center pad">
            <h4>Team</h4>
        </div>
           <p>Trustees & Karobaris from  </p>
         
               <p>Kutchi Visa OswalDeravasi Jain Mahajan</p>
               <p>Kutchi Visa Oswal Sthanakvasi Jain Mahajan  &</p>
               <p>Last but not the least the innovative team with the most experience about BHERPO members of Committee Members of Mulund KVO<p>
       
           <p>With such amazing teams, participated by the entire community & both the Kutchi Visa Oswal Mahajans supporting this event whole heartedly, this event will be the biggest KVO event ever</p>
                      <div class="text-center pad">
            <h4> Theme</h4>
        </div>
           <p>BHERPO started with the tagline CONNECTING KVO.  </p>
              <div class="text-center pad">
            <h4> Partners</h4>
        </div>
           <p>The famous publishers M/s NAVNEET PUBLICATION became Main sponsor of it. So Now it is NAVNEET BHERPO. Three wellknown business groups also joined as co-sponsors. 1. Sunshine group- Atulbahai Bharani . (Village Deshalpur )  2. Prince Group- Piyushbhai Chheda group ( Village Don)  3. SPM group- Pravin bhai Chheda ( Village  Punadi).</p>
           <p>NAVNEET BHERPO Is a very very exciting competition between 12 Teams on IPL basis. Each Team is again taken up by wellknown business groups. A very wide Area from Colaba To Dahanu Road , Karjat /Kasara, & Panvel is devided between the 12 Teams. Total 11000 participants registered & practicing very hard from 3 moths with a goal to win very very prestigious NAVNEET BHERPO Trophy. The pride every Team is dreaming for it. To be honoured with this pride each team is daily starting its practice at 6 a.m. in morning & practicing beyond 12 at night . With more than 50 competitive events from 15 November 2015 to January 2016  , more than 50 Trophies the unique NAVNEET BHERPO is amazingly heading to a marvelous, cheerful , colorful & grand Festival.</p>
            <div class="padding rulesn ">
                <h4 class="text-center">Rules &amp; Regulations</h4>
                <div class="rule-head">
                    <b>Other Games: </b>
                    <p>Khatron ke Khiladi -40 points- 4- senior citizens, 5-open 
Total 9 participants.</p>
                    <p>  Musical Stations-40points-12 people-( 2- U-12, 2-(12-16) , 2-(16-25) , 2-(25-35),2-(35-50), 2- 50+ )All categories one female, One male.
.</p>
                    <p>
                        Kho Kho -  100 points- male & female separate teams 12 players + 3 substitute Category-open.</p>
                    <b>Skating Relay: </b>
                    <p>Team of 4 Mixed doubles skating 50 mts each. Quads or Inline allowed.</p>
                    <p>Two Male &amp; two Female mix team of each group.</p>
                    <b>Handminton: </b>
                    <p>Team of 4 + 3 Males group (14 - 20) playing lawn tennis using hands instead of raquets.</p>
                    <b>Bucket Ball</b>
                    <p>A team of 7 + 3 players trying to score. Similar to basket ball.</p>
                    <p>Two teams: 7 member male team &amp; 7 member female team. Group 12 + (with 3 of 35 +).</p>
                    <b>Handball</b>
                    <p>Team of 5 + 5 Females only 35 + playing handball in a fenced ground.</p>
                    <b>Lagori</b>
                    <p>Team of 7 players above 50 years (3 Females + 4 Males), to play conventional Lagori.</p>
                    <b>Triatholon</b>
                    <p>For Males 08 - 12 and 13 - 16 = 100 mts running + 15 full situps + 100 mts cycling.</p>
                    <p>For Males 17 - 25 and 26 - 35 = 200 mts running + 25 full situps + 200 mts cycling.</p>
                    <p>For Males 35 above = 200 mts running + 20 full situps + 200 mts cycling.</p>
                    <p>For Females 08 - 12 and 13 - 16 = 50 mts running + 10 full situps + 50 mts cycling.</p>
                    <p>For Females 17 - 25 and 26 - 35 = 100 mts running + 15 full situps + 100 mts cycling.</p>
                    <p>For Females 35 above = 100 mts running + 15full situps + 100 mts cycling.</p>
                    <p>Bring your own cycle any number of gears allowed</p>
                    <b>Relay</b>
                    <p>Mix gender race of 100 mts each with 2 males and 2 females from each of the category (08 - 12) &amp; (13 - 16) &amp; (17 - 25) &amp; (26 - 35) &amp; (35 +)</p>
                    <b>3 Legged Race</b>
                    <p>Team of 2 Males each group (08 - 12) &amp; (13 - 16)</p>
                    <p>Team of 2 Females each group (08 - 12) &amp; (13 - 16)</p>
                    <b>4 Legged Race</b>
                    <p>Team of 3 Males each group (17 - 25) &amp; (26 - 35 ) (35 above)</p>
                    <p>Team of 3 Females each group (17 - 25) &amp; (26 - 35 ) (35 above)</p>
                    <b>Tug of war</b>
                    <p>Team of 15 strong people pulling the oponent team beyond the touch line.</p>
                    <p>15 Member Team each group Male (Below 16) &amp; (16 +) and Female (Below 16) &amp; (16 +)</p>
<!--
                    <b>Surprise Games</b>
                    <p>Different surprise games - Only for those who not participated in any other event of Bherpo</p>
-->
                    <b>Quiz</b>
                    <p>Topics: GK, Current Affairs, Sports, Cartoon, Science, Geography, Movies, TV, Music, Invention, Discoveries, Mumbai, Kutch, India. 8 Member core team of 8 years &amp; above. In the core Team 1 member of each age group as below compulsory. Also 7 member Teams of age groups 8 to 12, 13 to 18, 19 to 25, 26 to 35, 35 to 50, 51&amp; above In each team including core team at least 3 female &amp; 3 male compulsory</p>
                    <b>Street Play</b>
                    <p>Maximum time limit is 12 mins. Limited props, no electronic gadgets, no recorded music. Live music allowed Maintain spirit of street play only to be performed on stage.</p>
                    <b>Dance</b>
                    <p>Maximum time limit is 12 mins.</p>
                    <b>Cycling</b>
                    <p>race of 6 member Team containing 1 female &amp; 2 members above 35 years.</p>
                    <p>All members of the Team to be of age 19 Years &amp; above.</p>
                    <div class="text-center">

<!--
                        <button class="button button-calm">
                            Download PDF
                        </button>
-->
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>