<ion-view view-title="Bherpo">
    <ion-content>
     <div class="text-center">
      <h4>Coming Soon</h4>
  </div>
<!--
        <div class="venue">
            <div class="banner">

            </div>
            <div class="list card" ng-repeat="item in venue">
                <div class="item item-image">
                    <img ng-src="{{item.image}}">
                </div>

                <a class="item item-icon-left assertive" href="#">
                    <div class="pull-left">
                        <h3>
    {{item.name}}
 </h3>
                        <p>
                            {{item.place}}
                        </p>
                    </div>

                    <div class="pull-right">
                        <p>
                           30, sep 2015
                        </p>
                        <span>
          8.00 PM
          </span>
                    </div>


                </a>




            </div>
        </div>
-->
    </ion-content>
</ion-view>
