<ion-view view-title="Contact">
    <ion-content>
        <div class="contact padding">
            <p class="text-center">Contact Bherpo community To Mail : <b>bherpo15@gmail.com</b></p>
<!--            <p>Address : M.G Road, Mumbai-420001.</p>-->

        </div>
        <div class="cont-tm">
            <div class="list text-center" style="margin-bottom: 0px;">
                <h4>Team Owner</h4>
            </div>
            <div class="tm-standing">
                <div class="list">

                    <div class="item item-divider">
                        <div class="row wht-fn">
                           <div class="col-10">
                               
                           </div>
                            <div class="col-33 text-center">
                                <p>Teams Name</p>
                            </div>
                            <div class="col-50 text-center">
                                <p class="" href="">Email</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="item in teams">
                
               <div class="col-10 "> 
                  <div class="text-center tm-num">
                      <p>{{item.num}}</p>
                  </div>

               </div>

                <div class="col-33">
                    <div class="tm-name text-center">
                        <p>{{item.name}}</p>

                    </div>
                </div>
                <div class="col">
                    <div class="tm-email text-center">
                        <a href="{{item.href}}">{{item.email}}</a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>