<ion-view view-title="Gallery">
    <div class="tabs-striped tabs-top tabs-background-calm tabs-color-light">
        <div class="tabs">
            <a class="tab-item {{classa}}" ng-click="tabchange('photos',1)">
                <span>Photos</span>
            </a>
            <a class="tab-item {{classb}}" ng-click="tabchange('video',2)">
                <span>Video</span>
            </a>
        </div>
    </div>
    <ion-content class="has-tabs-top">
        <div class="photos" ng-show="tab=='photos'">
            <div class="row folders" >
			  {{msg}}
                <div class="col col-50" ng-repeat="folder in folders" >
                    <div class="folder-inner" ng-click="openFolder(folder);">
                        <img src="{{folder.image[0] | serverimage}}" alt="" class="full-image">
                        <div class="folder-text">
                            <div class="folder-text">
                                <p>{{folder.title}}</p>
                            </div>
                        </div>
                    </div>
                </div>
<!--
                <div class="col col-50">
                    <div class="folder-inner" ng-click="openFolder(2);">
                        <img src="img/folder.png" alt="" class="full-image">
                        <div class="folder-text">
                            <div class="folder-text">
                                <p>Team Owner Images</p>
                            </div>
                        </div>
                    </div>
                </div>
-->
            </div>
            <!-- <ion-gallery ion-gallery-items="gallery" ng-if="gallery.length>0"></ion-gallery> -->
        </div>
        <div class="gallery text-center" ng-show="tab=='video'">
        <h4 style="margin-top:10px;">Coming Soon</h4>
<!--
            <div class="row">
                <div class="col col-33">
                    <iframe width="100%" height="100" src="https://www.youtube.com/embed/eps0J53sb_w" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col col-33">
                    <iframe width="100%" height="100" src="https://www.youtube.com/embed/cuw_fmiy3nA" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col col-33">
                    <iframe width="100%" height="100" src="https://www.youtube.com/embed/oHvSUFmO47U" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
-->
        </div>
    </ion-content>
</ion-view>