<ion-view view-title="Home">
	<ion-content>
		<ion-slide-box on-slide-changed="slideHasChanged($index)" delegate-handle="bannerSlides" does-continue="true" slide-interval="3000" auto-play="true">
			<ion-slide ng-repeat="slide in slides">
				<img ng-src="{{slide | serverimage}}" class="full-image">
			</ion-slide>
		</ion-slide-box>
		<div class="register text-center">
			<p class="padding-horizontal">Regarding Changes or Rectification in Registration form please email your Name, Mobile No, Email address at cancel@bherpo.org.</p>
			<div class="padding-horizontal" hidden="true">
				<button class="button button-block button-calm" ng-click="openmodal();">
					Register as Participant
				</button>
			</div>
		</div>
		<div class="list notitfy">
			<div class="item item-divider text-center">
				Notification
			</div>
			<ion-list>
				<div class="padzero event">
					<div class="all-video list">
<!--						{{msg}}-->
                    <h4 class="text-center">{{msg}}</h4>
						<div class="row item" ng-repeat="item in notification" ng-click="detailNotification(item)">
							<div class="col col-33">
								<div class="image-hold" ng-style="{'background-image':'url({{item.image | serverimage}})'}">

								</div>
							</div>
							<div class="col col-67">
								<h2>{{item.title}}</h2>
								<p ng-bind-html="item.content| cut:true:120:'. . .'"></p>
							</div>
						</div>
					</div>
				</div>
		</div>
		</ion-list>
		<div class="gallery-img ">
			<h5 class="paddleft marzero">Sponsor</h5>
			<div class="navneet">
				<ion-slide-box on-slide-changed="slideHasChanged(index)" auto-play="true">
					<ion-slide>
						<img src="img/sponsor/s1.jpg" class="full-image">
					</ion-slide>
					<ion-slide>
						<img src="img/sponsor/s6.jpg" class="full-image">
					</ion-slide>
				</ion-slide-box>
			</div>
		</div>
	</ion-content>
</ion-view>