<ion-view view-title="Know Your Team">
    <ion-content>
<div class="know text-center padding">
    <h4>To Know Your Team Enter Your Area Pincode</h4>
    <div class="list list-inset">
  <label class="item item-input">
    <input type="number" placeholder="Enter Pincode">
  </label>

</div>
<div class="padding-horizontal">
    <button class="button button-full button-positive">
  Submit
</button>
</div>
<div class="row">
    <div class="col col-33">
        <img src="img/team-logo/t10.png" class="full-image">
    </div>
    <div class="col col-67">
        <h4 class="kn-team">Khelbaajz Team</h4>
    </div>
</div>
</div>
    </ion-content>
</ion-view>
