<ion-view view-title="Login">
	<ion-header-bar align-title="center" class="bar-calm">
		<h1 class="title">Login</h1>
	</ion-header-bar>
	<ion-content>
		<div class="regi-form">
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">First Name</span>
					<input type="text" placeholder="First Name" required>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Middle Name</span>
					<input type="text" placeholder="Middle Name" required>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Last Name</span>
					<input type="text" placeholder="Last Name" required>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Pincode</span>
					<input type="number" placeholder="Pincode" required>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Mobile Number</span>
					<input type="text" placeholder="Mobile Number" required>
				</label>
				<div class="item">
					<h2>I support this team</h2>
					<div>
						<button class="button button-block button-calm" ng-click="openmodal();">Select Your Team</button>
					</div>
					<div class="button-bar">
						<a class="button button-calm button-outline">Save</a>
						<a class="button button-calm button-outline">Undo</a>
					</div>
				</div>
			</div>
		</div>
		<div class="padding-horizontal">
			<button class="button button-block button-calm" ng-click="openterms();">Terms &amp; Conditions</button>
		</div>
	</ion-content>
</ion-view>