<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left" class="bg-menu">
		<ion-header-bar class="bar-side" style="height:143px;">
			<div class=" side-image text-center">
				<img src="img/logo.png">
			</div>
		</ion-header-bar>
		<ion-content style="top:143px" class="menu-list">
			<ion-list class="icon">
				<ion-item nav-clear menu-close href="#/app/home">
					<span><i class="ln-home3"></i></span>Home
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/bherpo">
					<span><i class="ln-home5"></i></span>Bherpo
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/sponsor">
					<span><i class="ln-briefcase"></i></span>Sponsors
				</ion-item>
				<hr>
				<ion-item nav-clear menu-close href="#/app/team">
					<span><i class="ln-users"></i> </span>Teams
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/teamstanding">
					<span><i class="ln-medal2"></i></span>Team Standing
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/schedule" class="item-dividers">
					<span><i class="ln-users2"></i></span>Schedule
				</ion-item>
				<hr>
				<ion-item nav-clear menu-close href="#/app/gallery">
					<span><i class="ln-picture"></i></span>Gallery
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/venue">
					<span><i class="ln-calendar3"></i></span>Venue
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/knowyourteam">
					<span><i class="ln-flag3"></i></span>Know your Team
				</ion-item>
				<hr>
				<ion-item nav-clear menu-close href="#/app/notification">
					<span><i class="ln-bell"></i></span>Notifications
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/contact">
					<span><i class="ln-contacts"></i></span>Contact us
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>