<ion-modal-view class="bg-color">
    <ion-content class="whiten-bg holder">
        <div class="row">
            <div class="col col-75">
                <div class="regi fl-right pad">
                    <h4>Registration Terms</h4>

                </div>
            </div>
            <div class="col">
                <button class="button button-small button-positive left" ng-click="savePDF();">
                    Save
                </button>
            </div>
        </div>


        <div class="rules">
            <p>1 ) All events EXCEPT CYCLING are grouped in four buckets as follows :</p>
            <div class="list-p">
                <p>A. TEAM GAMES & ATHLETICS </p>
                <p>B. QUIZ </p>
                <p>C. AQUATICS </p>
                <p>D. DANCE & STREET PLAY </p>
            </div>
            <div class="padten">
                <p>2 ) A Participant can enroll & participate in more than one event but not in more than two buckets. e.g. He /She can enroll & participate in any no. of Team games Or Athletics or Aquatics So He/ she has selected Bucket A & C. so he/she can not enroll & participate in any event of bucket B & D.</p>
            </div>
            <p>3 ) CYCLING: Anyone of the Age 16 & above can apply for cycling competition irrespective of participation on any of the above</p>
            <p>4 ) Sports Shoes Cumpulsory for all ground.</p>
            <p>5 ) T shirts with with pre decided LOGO compulsory in all events except aquatic, Dance & Street Play.</p>
            <p>6 ) T-shirt design Use only the colour assigned to your team as MAIN CLOUR of the T shirt. Some Use of black or white is allowed but not any other colour. KVO BHERPO logo has to be present on left hand corner front side. Black and white logo can be used if the colour logo cannot be seen with your colour. Team logo on front side. The Team owner can use only back side of T shirt for his Advertisement. Any graphic/picture associated with your slogan can have other colour. Team Name shall be on T shirt at stomach part written in decided Font Size only.</p>

            <p>8 ) BIRTH DATE CRITERIA FOR AGE : BENCH MARK DATE : 14.11.2015
                <div class="list-p">
                    <p>
                        e.g. a person who is born on 14.11.2008 will be considered as 8 year old.
                    </p>
                    <p>A person born after 14.11.2008 will be considered as less than 8 year old & not allowed in 8 year age group.</p>
                    <p>Similarly a person born on 14.11.2004 will b considered 12 year old.</p>
                    <p>person born before 14.11.2004 will not be allowed in age group upto 12 years. </p>
                    <p>Birth date certificate copy must be submitted alongwith hard copy of the application form. </p>
            </p>

            <p>9 ) Participants usual residence place will determine the Team in which he can participate.</p>
            <p>10 ) At the time of Competition the participant must bring with him Original ID proof.</p>
            <p>11 ) Banner size 5 by 7 ft. Banner to be created as per the team choice. No specifications given.</p>
            <p>12 ) COMPLETE FORM TO BE FILLED UP & SUBMITTED ON LINE FIRST & HARD COPY WITH ACKNOWLEDGEMENT NO. TO BE SUBMITTED TO LOCAL AREA BHERPO COMMITTEE ALONGWITH :
                <div class="list-p">
                    <p>1. Copy of Birth Date Proof.</p>
                    <p>2. Copy of Proof of Usual Residence Address.</p>
                    <p>3. Medical Certificate from a doctor. Suggested draft of Medical certificate :</p>
                    This is to certify that ___________________________________ is fit enough to participate in practice & competitions of BHERPO ORGANISED BY Shri K.V.O. Deravasi Jain Mahajan & Shri K.V.O. sthanakvasi Jain Mahajan. He/She has no adverse medical History so as to prevent him from the practice & competitions of BHERPO
                </div>
            </p>
            </div>
            <p>13 ) Organisers reserve the rights to make changes in date , venues, rules As may be necessited by circumstances.</p>
            <p>14 ) Decision of Refree/judge shall be strictly accepted. No arguments allowed.</p>
            <p>16 ) The participants participate at their own Risk. The organisers shall not be responsible for any injury or loss to the participants.</p>
            <div class="text-center">

                <button class="button button-positive">
                    Download PDF
                </button>
            </div>

        </div>
        </div>
    </ion-content>

    <div class="down">
        <button class="button button-block button-calm" ng-click="closemodal();">DONE</button>
    </div>

</ion-modal-view>