<ion-modal-view view-title="Login">
	<ion-header-bar align-title="center" class="bar-calm">
		<h1 class="title">Select Team</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list radio-team">
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Roman Vision
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Yuvamann
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Khelaiya
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Nirmall Roals
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Vinipull
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Borivali Stars
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Roaring Lions
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Jyoti Gaints
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Balzing Blues
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<label class="item item-radio">
				<input type="radio" name="group">
				<div class="item-content">
					Khelbaajz
				</div>
				<i class="radio-icon ion-checkmark"></i>
			</label>
			<div class="padding-horizontal" ng-click="closemodal();">
				<button class="button button-block button-calm">Select Your Team</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>