<ion-view view-title="Detail">
              <ion-nav-buttons side="right" ng-hide="nosearch">
                <button class="button cart-button button-icon button-clear"><i class="cart-icon ion-android-share-alt">
                    </i>
                </button>
            </ion-nav-buttons>
   <div class="button">
       <button class="button icon ion-android-share-alt"></button>
   </div>
    <ion-content>
       <div class="padding">
             <h4>"Neque porro quisquam est qui dolorem"</h4>
        </div>
        <div class="min-height">
            <figure>
                <img src="img/slider/2.jpg" class="full-image">

            </figure>
        </div>
        <div class="noti-title padding">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec eleifend quam, sit amet gravida leo. Sed ullamcorper gravida consectetur. Donec a massa convallis, fringilla orci a, varius sapien. Duis lacus leo, faucibus nec sollicitudin pellentesque, hendrerit in torto</p>
        </div>
    </ion-content>
</ion-view>