<ion-view view-title="Detail">
  <ion-content>
<div class="min-height">
    <figure>
        <img src="img/slider/2.jpg" class="full-image">
        
    </figure>
</div>
 <div class="noti-title padding">
     <h4>"Neque porro quisquam est qui dolorem"</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec eleifend quam, sit amet gravida leo. Sed ullamcorper gravida consectetur. Donec a massa convallis, fringilla orci a, varius sapien. Duis lacus leo, faucibus nec sollicitudin pellentesque, hendrerit in torto</p>
 </div>
  </ion-content>
</ion-view>
