<ion-view view-title="Detail">
              <ion-nav-buttons side="right">
               
                <button class="button cart-button button-icon button-clear fn-sz" ng-click="share()">Share<i class="cart-icon ion-android-share-alt">
                    </i>
                </button>
            </ion-nav-buttons>
   <div class="button">
       <button class="button icon ion-android-share-alt"></button>
   </div>
    <ion-content>
       <div class="padding">
             <h4>{{notification.title}}<p class="date pull-right">{{notification.timestamp|date}}</p></h4>
        </div>
        <div >
            <figure>
                <img ng-src="{{notification.image | serverimage}}"class="full-image">
            </figure>
        </div>
        <div ng-bind-html="notification.content" class="noti-title padding"></div>
    </ion-content>
</ion-view>