<ion-modal-view>
    <ion-header-bar class="bg-grnd">
        <h1 class="title">Village Name</h1>
        <div class="buttons closebtn">
            <button class=" button button-icon ion-close-round popup-btn" ng-click="closemodal();"></button>
        </div>
    </ion-header-bar>

    <ion-content>
        <ion-list>
            <form class="item item-input-inset only-horizontal serchbtn" ng-submit="doSearchVillage(datasearch); ">
                <label class="item-input-wrapper ">
                    <input type="text " placeholder="Village Name " ng-model="datasearch" ng-change="doSearchVillage(datasearch);" style="border: 0px;">
                </label>
                <button class="button button-icon ion-search" type="submit"></button>
            </form>

            <!--Repeat pincode, cities-->
            <!--            <ion-item ng-click="selectcomp('Puratek company'); ">Puratek company</ion-item>-->
            <ion-item ng-click="selectVillage(village);" ng-repeat="village in villages">{{village.name}}</ion-item>

            <ion-item ng-if="villages.length==0">No data found.</ion-item>

        </ion-list>

    </ion-content>
</ion-modal-view>