<ion-view view-title="Registration">
    <ion-content>
        <div class="text-center bold">
            <h4>Register To Participate</h4>
            <hr>
        </div>
        <div class="regi-form">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Reg. Date</span>
                    <input type="text" onfocus="(this.type='date')" placeholder="Reg. Date">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First Name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Middle Name</span>
                    <input type="text" placeholder="Middle Name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Date of Birth</span>
                    <input type="text" onfocus="(this.type='date')" placeholder="Date of Birth">
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Gender
                    </div>
                    <select>
                        <option>Female</option>
                        <option selected>Male</option>

                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Mobile Number</span>
                    <input type="number" placeholder="Mobile Number">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Telehpone Number</span>
                    <div class="row">
                        <div class="col col-20">
                            <input type="number" placeholder="+1">
                        </div>
                        <div class="col col-80">
                            <input type="number" placeholder="Telehpone Number">
                        </div>
                    </div>


                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Village
                    </div>
                    <select>
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="Address">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Address 2</span>
                    <input type="text" placeholder="Address 2">
                </label>

                <label class="item item-input item-select">
                    <div class="input-label">
                        Area (Nearest Station)
                    </div>
                    <select>
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">City</span>
                    <input type="text" placeholder="City">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Pincode</span>
                    <input type="number" placeholder="Pincode">
                </label>
            </div>
            <div class="other-form">



                Note: click on the square boxes before the items you want to participate in event



            </div>
            <div class="select-in">
                <div class="quize padding">
                    <div class="card">
                        <div class="item item-divider text-center">
                            Quiz
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">

                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Quiz
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="card">
                        <div class="item item-divider text-center">
                            Aquatics
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">

                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Aquatics
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="card">
                        <div class="item item-divider text-center">
                            Dnace And Street Play
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">

                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Dnace
                                </li>
                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Street Play
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="card">
                        <div class="item item-divider text-center">
                            Team Games And Athletics
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">

                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Bucket Ball
                                </li>
                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Handminton
                                </li>
                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Lagori
                                </li>
                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    4 Legged Race
                                </li>
                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Handminton
                                </li>
                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    3 Legged Race
                                </li>
                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Triathalon
                                </li>
                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Relay
                                </li>
                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Skating Relay
                                </li>
                                <li class="item item-checkbox">

                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    Tug of War
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="other-form">
                Note: Kindly Click on Volunteer Square box if u want to participate as Volunteer
            </div>
            <div class="select-in">
                <div class="card">
                    <div class="item item-divider text-center">
                        Volunteer
                    </div>
                    <div class="item item-text-wrap">
                        <ul class="list">

                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                Banner Desigining / Art Work
                            </li>

                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                Slogan And Other Write UPS
                            </li>

                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                Cycling
                            </li>

                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox">
                                </label>
                                Volunteer
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
            <div class="padding">
                           <button class="button button-block button-calm">
  Submit
</button>
       <button class="button button-block button-calm">
 Cancel
</button> 
            </div>

        </div>
    </ion-content>
</ion-view>