<ion-view view-title="Registration">
    <ion-content>
        <div class="text-center bold">
            <h4>Register To Participate</h4>
            <hr>
        </div>
        <div class="regi-form">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Reg. Date</span>
                    <input type="date" placeholder="Reg. Date" ng-model='user.registrationdate' readonly>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First Name" ng-model='user.firstname'>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Middle Name</span>
                    <input type="text" placeholder="Middle Name" ng-model='user.middlename'>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name" ng-model='user.lastname'>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Date of Birth</span>
                    <input type="text" onfocus="(this.type='date')" placeholder="Date of Birth" ng-model='user.dateofbirth'>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Gender
                    </div>
                    <select ng-model='user.gender'>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Mobile Number</span>
                    <input type="number" placeholder="Mobile Number" ng-model='user.mobileno'>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Telehpone Number</span>
                    <div class="row">
                        <div class="col col-20">
                            <input type="number" placeholder="022" ng-model='user.extension'>
                        </div>
                        <div class="col col-80">
                            <input type="number" placeholder="Telehpone Number" ng-model='user.telephoneno'>
                        </div>
                    </div>


                </label>

                <label class="item item-input" ng-click="openmodal();" ng-model='user.village'>
                    <div class=" input-label ">
                        Village<span class="citysearch">{{user.village.name}}</span>
                    </div>
                </label>

                <!--
                <label class="item item-input item-select">
                    <div class="input-label">
                        Village
                    </div>
                    <select ng-options="vil._id as vil.name for vil in village track by vil._id" ng-model='user.village'></select>
                    
                    <select ng-model='user.village'>
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>

                </label>
-->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" ng-model='user.emailid'>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="Address" ng-model='user.address'>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Address 2</span>
                    <input type="text" placeholder="Address 2" ng-model='user.address2'>
                </label>

                <label class="item item-input" ng-click="openmodalarea();" ng-model='user.area'>
                    <div class=" input-label ">
                        Area<span class="citysearch">{{user.area.name}}</span>
                    </div>
                </label>

                <!--
                <label class="item item-input item-select">
                    <div class="input-label">
                        Area (Nearest Station)
                    </div>
                    <select ng-options="areas._id as areas.name for areas in area track by areas._id" ng-model='user.area'></select>
                    
                    <select>
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>

                </label>
-->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">City</span>
                    <input type="text" placeholder="City" ng-model='user.city' readonly>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Pincode</span>
                    <input type="number" placeholder="Pincode" ng-model='user.pincode'>
                </label>
            </div>
            <div class="other-form">
                Note: click on the circles before the items you want to participate in event
            </div>
            <div class="select-in">
                <div class="quize padding">
                    <div class="card">
                        <div class="item item-divider text-center vert">
                               <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    <span>Quiz</span>
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-click="pushorpopquiz('Quiz');">
                                    </label>
                                    Quiz
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="item item-divider text-center vert">
                           
                                 <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    <span> Aquatics</span>
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-click="pushorpopaqua('Aquatics');">
                                    </label>
                                    Aquatics
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="item item-divider text-center vert">
                           
                              <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    <span>  Dance And Street Play</span>
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-click="pushorpopdance('Dance');">
                                    </label>
                                    Dance
                                </li>
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-click="pushorpopdance('Street Play');">
                                    </label>
                                    Street Play
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="item item-divider text-center vert">
                         
                            
                              <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    <span>Team Games And Athletics</span>
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">
                                <li class="item item-checkbox" ng-repeat="sports in allsports">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-click="pushorpopsports(sports)">
                                    </label>
                                    {{sports}}
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="other-form">
                Note: Kindly Click on Volunteer Circle if u want to participate as Volunteer
            </div>
            <div class="select-in">
                <div class="card">
                    <div class="item item-divider text-center">
                        Volunteer
                    </div>
                    <div class="item item-text-wrap">
                        <ul class="list">
                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox"  ng-click="pushorpopvolun('Banner Desigining / Art Work');">
                                </label>
                                Banner Desigining / Art Work
                            </li>
                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox" ng-click="pushorpopvolun('Slogan And Other Write UPS');">
                                </label>
                                Slogan And Other Write UPS
                            </li>
                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox" ng-click="pushorpopvolun('Cycling');">
                                </label>
                                Cycling
                            </li>
                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox" ng-click="pushorpopvolun('Volunteer');">
                                </label>
                                Volunteer
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-calm" ng-click="registerUser();">
                    Submit
                </button>
                <button class="button button-block button-calm">
                    Cancel
                </button>
            </div>

        </div>
    </ion-content>
</ion-view>