<ion-view view-title="Registration">
    <ion-content>
        <div class="text-center bold">
            <h4>Register To Participant</h4>
            <hr>
        </div>
        <div class="regi-form">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Reg. Date</span>
                    <input type="date" placeholder="Reg. Date" ng-model='user.registrationdate' readonly>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="First Name" ng-model='user.firstname' ng-class="allvalidation[0].validation" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Middle Name</span>
                    <input type="text" placeholder="Middle Name" ng-model='user.middlename' ng-class="allvalidation[1].validation" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Last Name" ng-model='user.lastname' ng-class="allvalidation[2].validation" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Date of Birth</span>
                    <input type="text" onfocus="(this.type='date')" placeholder="Date of Birth" ng-model='user.dateofbirth' ng-class="allvalidation[3].validation" required>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Gender
                    </div>
                    <select ng-model='user.gender' ng-class="allvalidation[4].validation" required>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Mobile Number</span>
                    <input type="text" placeholder="Mobile Number" ng-model='user.mobileno' ng-class="allvalidation[5].validation" maxlength="10" required only-digits>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Telehpone Number</span>
                    <div class="row">
                        <div class="col col-20">
                            <input type="text" placeholder="022" ng-model='user.extension' only-digits>
                        </div>
                        <div class="col col-80">
                            <input type="text" placeholder="Telehpone Number" ng-model='user.telephoneno' only-digits>
                        </div>
                    </div>
                </label>
                <label class="item item-input" ng-click="openmodal();" ng-model='user.village'>
                    <div class=" input-label ">
                        Village<span class="citysearch">{{user.village[0].name}}</span>
                    </div>
                </label>
                <!--
                <label class="item item-input item-select">
                    <div class="input-label">
                        Village
                    </div>
                    <select ng-options="vil._id as vil.name for vil in village track by vil._id" ng-model='user.village'></select>
                    
                    <select ng-model='user.village'>
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>

                </label>
-->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" ng-model='user.email' ng-class="allvalidation[6].validation" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="Address" ng-model='user.address' ng-class="allvalidation[7].validation" required>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Address 2</span>
                    <input type="text" placeholder="Address 2" ng-model='user.address2'>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Area</span>
                    <input type="text" placeholder="Area" ng-model='user.area' ng-class="allvalidation[8].validation" required>
                </label>
                <!-- <label class="item item-input" ng-click="openmodalarea();" ng-model='user.area' ng-class="allvalidation[8].validation" required>
                    <div class=" input-label ">
                        Area<span class="citysearch">{{user.area[0].name}}</span>
                    </div>
                    <input type="text" placeholder="Area" ng-model='user.area'>
                </label> -->
                <!--
                <label class="item item-input item-select">
                    <div class="input-label">
                        Area (Nearest Station)
                    </div>
                    <select ng-options="areas._id as areas.name for areas in area track by areas._id" ng-model='user.area'></select>
                    
                    <select>
                        <option>Blue</option>
                        <option selected>Green</option>
                        <option>Red</option>
                    </select>

                </label>
-->
                <label class="item item-input item-stacked-label">
                    <span class="input-label">City</span>
                    <input type="text" placeholder="City" ng-model='user.city' readonly>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Pincode</span>
                    <input type="text" placeholder="Pincode" maxlength="6" ng-model='user.pincode' ng-class="allvalidation[9].validation" required only-digits>
                </label>
            </div>
            <div class="other-form">
                Note: click on the circles before the items you want to participate in event
            </div>
            <div class="select-in">
                <div class="quize padding">
                    <div class="card" id="div1">
                        <div class="item item-divider text-center vert">
                            <label class="checkbox">
                                <input type="checkbox" ng-disabled="divs[0].value" ng-click="pushorpopquiz('Quiz');enableordisable('div1');" ng-model="divmodel.quiz">
                            </label>
                            <span>Quiz</span>
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-true-value="'Quiz'" ng-false-value="" ng-model="user.quiz[0]" id="quiz1" ng-disabled="quizdisable">
                                    </label>
                                    Quiz
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card" id="div2">
                        <div class="item item-divider text-center vert">
                            <label class="checkbox">
                                <input type="checkbox" ng-disabled="divs[1].value" ng-click="enableordisable('div2');" ng-model="divmodel.aquatics">
                            </label>
                            <span> Other Games</span>
                            <!--

                            <label class="checkbox">
                                <input type="checkbox" ng-disabled="divs[1].value" ng-click="pushorpopaqua('Aquatics');enableordisable('div2');" ng-model="divmodel.aquatics">
                            </label>
                            <span> Aquatics</span>
-->
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-true-value="'Khatron ke Khiladi'" ng-false-value="" ng-model="user.aquatics[0]" id="aqua1" ng-disabled="aquaticsdisable">
                                    </label>
                                    Khatron ke Khiladi
                                </li>
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-true-value="'Musical Stations'" ng-false-value="" ng-model="user.aquatics[1]" id="aqua2" ng-disabled="aquaticsdisable">
                                    </label>
                                    Musical Stations
                                </li>
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-true-value="'Kho Kho'" ng-false-value="" ng-model="user.aquatics[2]" id="aqua3" ng-disabled="aquaticsdisable">
                                    </label>
                                    Kho Kho
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card" id="div3">
                        <div class="item item-divider text-center vert">
                            <label class="checkbox">
                                <input type="checkbox" ng-disabled="divs[2].value" ng-click="enableordisable('div3');" ng-model="divmodel.dance">
                            </label>
                            <span>  Dance And Street Play</span>
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-true-value="'Dance'" ng-false-value="" ng-model="user.dance[0]" id="dance1" ng-disabled="dancedisable">
                                    </label>
                                    Dance
                                </li>
                                <li class="item item-checkbox">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-true-value="'Street Play'" ng-false-value="" ng-model="user.dance[1]" id="dance2" ng-disabled="dancedisable">
                                    </label>
                                    Street Play
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card" id="div4">
                        <div class="item item-divider text-center vert">
                            <label class="checkbox">
                                <input type="checkbox" ng-disabled="divs[3].value" ng-click="enableordisable('div4');" ng-model="divmodel.sports">
                            </label>
                            <span>Team Games And Athletics</span>
                        </div>
                        <div class="item item-text-wrap">
                            <ul class="list">
                                <li class="item item-checkbox" ng-repeat="sports in allsports">
                                    <label class="checkbox">
                                        <input type="checkbox" ng-true-value="'{{sports}}'" ng-false-value="" ng-model="user.sports[$index]" id="{{sports+$index}}" ng-disabled="sportsdisable">
                                    </label>
                                    {{sports}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other-form">
                Note: Kindly Click on Volunteer Circle if u want to participate as Volunteer
            </div>
            <div class="select-in">
                <div class="card">
                    <div class="item item-divider text-center">
                        Volunteer
                    </div>
                    <div class="item item-text-wrap">
                        <ul class="list">
                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox" ng-true-value="'Banner Desigining / Art Work'" ng-false-value="" ng-model="user.volunteer[0]">
                                </label>
                                Banner Desigining / Art Work
                            </li>
                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox" ng-true-value="'Slogan And Other Write UPS'" ng-false-value="" ng-model="user.volunteer[1]">
                                </label>
                                Slogan And Other Write UPS
                            </li>
                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox" ng-true-value="'Cycling'" ng-false-value="" ng-model="user.volunteer[2]">
                                </label>
                                Cycling
                            </li>
                            <li class="item item-checkbox">
                                <label class="checkbox">
                                    <input type="checkbox" ng-true-value="'Volunteer'" ng-false-value="" ng-model="user.volunteer[3]">
                                </label>
                                Volunteer
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="padding">
                <button class="button button-block button-calm" ng-click="registerUser();">
                    Submit
                </button>
                <button class="button button-block button-calm">
                    Cancel
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
