<ion-view view-title="Schedule">
<!--
 <div class="bar bar-subheader bar-positive bar-title">
  <h5 class="title">Matchday</h5>
</div>
-->
  <ion-content>
<!--
  <div class="text-center">
      <h4>Coming Soon</h4>
  </div>
-->
   <div class="schedule">
       <h4>30 september</h4>
       <div class="card">
  <div class="item item-text-wrap">
   <div class="row">
      <div class="col col-50">
          <div class="team-sc">
              <ul>
                  <li>
                      <div class="tm-logo">
                          <img src="img/team-logo/t1.jpg" class="logo-img">
                      </div>
                  </li>
                  <li>
                      <p>roman vision</p>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col col-50">
          <div class="team-sc pull-right">
              <ul>
                 <li>
                      <p>yuvamann</p>
                  </li>
                  <li>
                      <div class="tm-logo">
                          <img src="img/team-logo/t2.jpg" class="logo-img">
                      </div>
                  </li>
                  
              </ul>
          </div>
      </div>
       
   </div>
   <div class="day">
  <div class="row text-center">
       <div class="col">
           <h4>Wednesday</h4>
           <p>8.00 PM</p>
       </div>
   </div>
   </div>
  </div>
</div>
         <div class="card">
  <div class="item item-text-wrap">
   <div class="row">
      <div class="col col-50">
          <div class="team-sc">
              <ul>
                  <li>
                      <div class="tm-logo">
                          <img src="img/team-logo/t3.png" class="logo-img">
                      </div>
                  </li>
                  <li>
                      <p>khelaiya</p>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col col-50">
          <div class="team-sc pull-right">
              <ul>
                 <li>
                      <p>nirmall royals</p>
                  </li>
                  <li>
                      <div class="tm-logo">
                          <img src="img/team-logo/t4.png" class="logo-img">
                      </div>
                  </li>
                  
              </ul>
          </div>
      </div>
       
   </div>
   <div class="day">
  <div class="row text-center">
       <div class="col">
           <h4>Wednesday</h4>
           <p>11.00 PM</p>
       </div>
   </div>
   </div>
  </div>
</div>
   </div>
   
  </ion-content>
</ion-view>
