<ion-view view-title="Detail">
    <ion-content>
        <div class="padding">
            <h4 class="text-center bolds">{{sponsor.name}}</h4>
        </div>
        <div>
            <figure style="text-align: center; ">
                <img ng-src="img/sponsor/{{sponsor.image}}" style="width:60%">
            </figure>
        </div>
        <!--        <div ng-bind-html="notification.content" class="noti-title padding"></div>-->
        <div class="padding" ng-bind-html="sponsor.content">
            <!-- <p>The Navneet (Gala) Family of Rayan Kutch, after a lot of perseverance and hard work, has built from the ground up a known corporate – Navneet Education Limited. It is a dominant player in the field of Publishing, eLearning & Scholastic Stationery. Three generations together are involved in the various activities of the company. The family also has an Interest in Real estate in Mumbai and Ahmedabad.</p>
            <p>The Navneet family understands the difficulties faced by the people who are less fortunate. We know that even a little help goes a long way. Giving back to the society is for more than 5 decades in areas like healthcare, education, animal welfare, housing for the homeless, etc.</p>
            <p>The Navneet (Gala) family believes that giving back to the society is the best form of service to the society. The family strives to transform the lives of people in any way they can. </p> -->
        </div>
    </ion-content>
</ion-view>
