<ion-view view-title="Sponsor" >
  <ion-content>

<div class="list tm-standing">

  <div class="item item-divider text-center">
   Title Sponsor
  </div>
 <img src="img/sponsor/s1.jpg" class="full-image m20" ui-sref="app.sponsordetail">

</div>
<div class="list tm-standing">

  <div class="item item-divider text-center">
   Co-Sponsor
  </div>
<!--<img src="img/sponsor/s51.jpg" class="full-image m20">-->
<div class="row">
    <div class="col-33">
      <div class="bx-im">
           <img src="img/sponsor/e1.jpg" class="full-image bor">
      </div>
      
      
    </div>
      <div class="col-33">
       <div class="bx-im">
        <img src="img/sponsor/2.png" class="full-image bor">
          </div>
    </div>
    <div class="col-33">
       <div class="bx-im">
        <img src="img/sponsor/3.png" class="full-image bor">
        </div>
    </div>
  
</div>
</div>

  </ion-content>
</ion-view>
