<ion-view view-title="Team Name">
    <ion-content>
        <div class="team-det notitfy photos">
            <div class="padzero event">

                <div class="all-video list head">
                    <div class="row item" ng-repeat="item in video" ui-sref="app.notidetail">
                        <div class="col col-33">
                            <div class="image-hold" ng-style="{'background-image':'url({{item.image}})'}">

                            </div>

                        </div>
                        <div class="col col-67 head">
                            <h2>{{item.name}}</h2>
                            <p>{{item.slogane}}</p>
                        </div>
                    </div>
<div class="owner-pic text-center">
    <img src="img/team/1.png" class="full-image">
</div>
                </div>
            </div>
        </div>
        <div class="owner-nam text-center padding-horizontal">
            <h4>MANOJ M CHHEDA</h4>
            <p>Team Owner</p>
            <hr class="hr">
            <p>As bherpo means to come together, the moto is get the people together.we want that all our KVO come together and show your talent in the field you are best into.</p>
        </div>
        <div class="row navneet">
            <div class="col-10 text-center">
                <div class="icon-tm">
                    <i class="ln-briefcase"></i>
                </div>
            </div>
            <div class="col-90">
                <div class="info-tm">
                    <h4>Business</h4>
                    <p> PARTNER – TRANSFORM – GYM </p>
                    <p> PROMOTER DIRECTOR – AARTI IND. LTD</p>
                </div>
            </div>
        </div>
                <div class="row" >
            <div class="col-10 text-center">
                <div class="icon-tm">
                    <i class="ln-accessibility"></i>
                </div>
            </div>
            <div class="col-90">
                <div class="info-tm info-tms">
                    <h4>Other Activity</h4>
                    <p> TRUSTEE – SHREE KANDAGARA.  V. O. JAIN MAHAJAN </p>
                    <p> TRUSTEE – SHREE SANTACRUZ  ACHALGACH</p>
                </div>
            </div>
        </div>
        <hr class="hr">
        <div class="tm-co text-center">
            <h4>Team Co-ordinator</h4>
        </div>
        <div class="row text-center">
            <div class="col-50">
                <div class="name">
                    <h5>Name</h5>
                    <p>Jatin P. Gala</p>
                </div>
            </div> 
                <div class="col-50">
                <div class="name">
                    <h5>Number</h5>
                    <p>9870708300</p>
                </div>
            </div>
        </div>
                <div class="row text-center">
            <div class="col-50">
                <div class="name">
                    <h5>Email</h5>
                    <p>bksvbherpo@gmail.com</p>
                </div>
            </div> 
                <div class="col-50">
                <div class="name">
                    <h5>Address</h5>
                    <p>Santacruz, Bandra, Khar, Vile Parle</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>