<ion-view view-title="Team">
  <ion-content>
   <div class="team" ng-repeat="item in gallery">
       <figure>
           <img ng-src="{{item.image}}" class="full-image">
<!--
           <div class="layer">
              <div class="inner-layer">
               <div class="team-name">
                   <h4>{{item.name}}</h4>
               </div>
               <div class="team-logo">
                   <img ng-src="{{item.logo}}" class="full-image">
               </div>
               </div>
           </div>
-->
       </figure>
   </div>
  </ion-content>
</ion-view>
