<ion-view view-title="Team">
    <ion-content>
        <div class="team">
            <div class="row" ng-repeat="item in gallerys">
                <div class="col col-33" ng-repeat="items in item">
                    <figure> <img ng-src="{{items.logo}}"></figure>
                    <div class="team-name">
                        <h4>{{items.name}}</h4>
                    </div>
                </div>
            </div>
            <!--           <img ng-src="{{item.image}}" class="full-image">-->
            <!--
           <div class="layer">
              <div class="inner-layer">
               <div class="team-name">
                   <h4>{{item.name}}</h4>
               </div>
               <div class="team-logo">
                   <img ng-src="{{item.logo}}" class="full-image">
               </div>
               </div>
           </div>
-->
        </div>
    </ion-content>
</ion-view>