<ion-view view-title="Team Standing">
    <ion-content>

        <div class="tm-standing">
<div class="list">

  <div class="item item-divider">
    <ul>
        <li>Teams</li>
        <li class="pull-right">Points</li>
    </ul>
  </div>


</div>
<!--
            <div class="row">
                <div class="col col-50"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
-->
        </div>

    </ion-content>
</ion-view>