<ion-view view-title="Team Standing">
    <ion-content>

        <div class="tm-standing">
<div class="list">

  <div class="item item-divider">
    <ul>
        <li>Teams</li>
        <li class="pull-right">Mobile Download</li>
    </ul>
  </div>


</div>
             </div>
            <div class="row" ng-repeat=" item in teams">
                <div class="col col-80">
                    <div class="team-status">
                        <ul>
                            <li>
                            <p>{{$index +1}}</p>
                            </li>
                            <li>
                               <div class="img-holding">
                                   <img ng-src="{{item.image | teamimage}}" class="team-lg">
                               </div>
                                
                            </li>
                            <li>
                                <h5>{{item.teamname}}</h5>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col ">
                    <div class="points text-center">
                        <h4 style="    margin-top: 0px;">
                            {{item.points | mypoints}}
                        </h4>
                    </div>
                </div>
              
            </div>
      

    </ion-content>
</ion-view>