<ion-view view-title="Venue">
    <ion-content>
        <div class="venue">
            <div class="banner">

            </div>
            <div class="card mylist">
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>Police Hockey ground </h5>
                        <br>
                        <h6>Ghatkopar (East)</h6>

                    </div>

                </div>
                <div class="item item-text-wrap yoname">
                    <a ng-click="openLink('https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.689115716079!2d72.91228736430716!3d19.077401556887324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6309cba7531%3A0xa15b6d24c56190bb!2sPolice+Hockey+Ground%2C+Shanti+Path%2C+Ghatkopar+East%2C+Mumbai%2C+Maharashtra+400075!5e0!3m2!1sen!2sin!4v1446100741345');"><img src="img/map.png"></a>

                </div>
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>Police Hockey ground </h5>
                        <br>
                        <h6>Shanti Path</h6>
                        <h6>Ghatkopar East</h6>
                        <h6>Mumbai, Maharashtra 400075</h6>


                    </div>

                </div>
            </div>
            <div class="card mylist">
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>Aces Ground  </h5>
                        <br>
                        <h6>Wadala</h6>

                    </div>

                </div>
                <div class="item item-text-wrap yoname">
                    <a ng-click="openLink('https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.1731688274303!2d72.85089531430626!3d19.01208950892011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf1fc6b080d5%3A0x6320ce7ab2597720!2sBhartiya+Krida+Mandir+Sports+Complex!5e0!3m2!1sen!2sin!4v1446101093233')" ><img src="img/map.png"></a>

                </div>
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>Bhartiya Krida Mandir Sports Complex </h5>
                        <br>
                        <h6>Rd Number 26,</h6>
                        <h6>Sahakar Nagar</h6>
                        <h6>Mumbai, Maharashtra 400031</h6>


                    </div>

                </div>
            </div>
            <div class="card mylist">
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>Thakur Complex Ground </h5>
                        <br>
                        <h6>Kandivali</h6>

                    </div>

                </div>
                <div class="item item-text-wrap yoname">
                    <a ng-click="openLink('https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.7040788516388!2d72.87335911430921!3d19.20812315279897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b7477ef25f19%3A0xe64d7eb0fbd9a98a!2sThakur+Cricket+Stadium!5e0!3m2!1sen!2sin!4v1446101490518')" ><img src="img/map.png"></a>
                    <!--                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.7040788516388!2d72.87335911430921!3d19.20812315279897!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b7477ef25f19%3A0xe64d7eb0fbd9a98a!2sThakur+Cricket+Stadium!5e0!3m2!1sen!2sin!4v1446101490518" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                </div>
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>Thakur Village</h5>
                        <br>
                        <h6>Kandivali East</h6>
                        <!--        <h6>Sahakar Nagar</h6>-->
                        <h6>Mumbai, Maharashtra 400101</h6>


                    </div>

                </div>
            </div>
            <div class="card mylist">
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>KVO sthanakvasi Jain Mahajanwad </h5>
                        <br>
                        <h6>Chinchpokli </h6>

                    </div>

                </div>
                <div class="item item-text-wrap yoname">
                    <a ng-click="openLink('https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3772.7531064193176!2d72.83322726430583!3d18.98650810971462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s70%2F80%2C+Dr.+B.A.+Road%2C+Opp.+Voltas%2C+Chinchpokli%2C+Mumbai-400012!5e0!3m2!1sen!2sin!4v1446211608380')"><img src="img/map.png"></a>
                    <!--                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3773.6240864929005!2d72.82591091430525!3d18.94802616090779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce21ff734b93%3A0xf7fac1fd20fe008c!2sMahajan+Wadi!5e0!3m2!1sen!2sin!4v1446102061838" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                </div>
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>70/80</h5>
                        <br>
                        <h6>Dr. B.A. Road</h6>
                        <h6>Opp. Voltas</h6>
                        <h6>Chinchpokli</h6>
                        <h6>Mumbai, Maharashtra 400002</h6>


                    </div>

                </div>
            </div>
            <div class="card mylist">
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>Kalidas auditorium </h5>
                        <br>
                        <h6> Mulund</h6>

                    </div>

                </div>
                <div class="item item-text-wrap yoname">
                    <a ng-click="openLink('https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.493368998067!2d72.94685261430864!3d19.173641753879938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b8f7c289674f%3A0x83ca171c14a36fcd!2sMahakavi+Kalidas+Natyamandir!5e0!3m2!1sen!2sin!4v1446102192627')" ><img src="img/map.png"></a>
                    <!--                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.493368998067!2d72.94685261430864!3d19.173641753879938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b8f7c289674f%3A0x83ca171c14a36fcd!2sMahakavi+Kalidas+Natyamandir!5e0!3m2!1sen!2sin!4v1446102192627" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                </div>
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>Purushottam Kheraj Road</h5>
                        <br>
                        <h6>Near Tarabai Modak Garden</h6>
                        <h6>Mulund West</h6>
                        <h6>Mumbai, Maharashtra 400080</h6>


                    </div>

                </div>
            </div>

            <div class="card mylist">
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>Yogi Hall </h5>
                        <br>
                        <h6> Dadar</h6>

                    </div>

                </div>
                <div class="item item-text-wrap yoname">
                    <a ng-click="openLink('https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.0545775964342!2d72.84290061430629!3d19.017316558757674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cedc187d3649%3A0x9985bd4818de9d84!2sThe+Yogi+Sabhagruh!5e0!3m2!1sen!2sin!4v1446102798395')" ><img src="img/map.png"></a>
                    <!--                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.0545775964342!2d72.84290061430629!3d19.017316558757674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cedc187d3649%3A0x9985bd4818de9d84!2sThe+Yogi+Sabhagruh!5e0!3m2!1sen!2sin!4v1446102798395" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                </div>
                <div class="item item-divider cardclass">
                    <div class="pull-left ">
                        <h5>Kohinoor Road</h5>
                        <br>
                        <h6>Lokmanya Tilak Colony</h6>
                        <h6>Dadar East</h6>
                        <h6>Mumbai, Maharashtra 400014</h6>


                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-view>