<ion-view view-title="Venue">
  <ion-content>
    <div class="venue">
      <div class="banner">

      </div>
<div class="card mylist">
  <div class="item item-divider cardclass">
  <h5>Athletics Event – Qualifiers</h5>
  <p><i class="ln-calendar2"></i>15<sup>th</sup> Nov</p>
  
  </div>
  <div class="item item-text-wrap yoname">
    <h4>Events Conducted in it</h4>
    <p>A) Triathlon</p>
    <p>B) Three Legged & Four Legged Race</p>
    <p>C) Tug of War</p>
    <p>D) Relay </p>
  </div>
  <div class="item item-divider cardclass">
   <div class="pull-left ">
       <h5>Police Hockey ground </h5><br>
        <h6>Ghatkopar (East)</h6>
         
   </div>
  <p><i class="ln-clock5"></i>6.30 PM</p>
  </div>
</div>
    </div>
  </ion-content>
</ion-view>
